* {
    box-sizing: border-box;
}

html, body {
    height: 200px;
    min-height: 100%;
}

body {
    margin: 0;
}

main {
    background: red;
    height: 605px;
    padding: 10px;
    width: 800px;
    border: solid red;
}

.container {
    background: darkred;
    padding: 10px;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    width: 780px;
    height: 150px;
    max-width: 100%;
}

.container2 {
    background: darkred;
    border: solid red;
    display: flex;
    overflow-y: auto;
    overflow-x: hidden;
    height: 430px;
    width: 246px;
    max-height: 100%;
    position: fixed;
    left: 10px;
    top: 168px
}

.container3 {
    background: blue;
    display: flex;
    position: fixed;
    width: 523px;
    height: 424px;
    left: 264px;
    top: 171px;
}

.vertical_block {
    background: darkred;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    max-width: 820px;
    flex-shrink: 0;
    max-height: 100%;
    display: flex;
    flex-direction: row;

}

.vertical_block:not(:last-child) {
    margin-right: 10px;
}

.task2 {
    background: yellow;
    padding: 38px;
    min-height: 99px;
    position: relative;
    left: 7px;
    width: 209px;
    text-align: center;
}

.task2.danger {
    background: red;
    color: #fff;
    border-bottom: 5px solid;
}
.task2:not(:last-child) {
    margin-bottom: 10px;
}

.task {
    background: yellow;
    min-height: 100px;
    position: relative;
    flex-direction: row;
    display: flex;
    width: 500px;
    border: solid darkred 6px;
    margin: 0px 0px 10px;
    height: 120px;
}

.task.danger {
    background: red;
    color: #fff;
    border-bottom: 5px solid;
}
.task:not(:last-child) {
    margin-bottom: 10px;
}

.green1 {
    background: rgb(127, 255, 0);
    position: fixed;
    left: 236px;
    width: 17px;
    height: 425px;
    top: 171px;
}

.green2 {
    background: rgb(127, 255, 0);
    position: fixed;
    left: 17px;
    width: 760px;
    height: 17px;
    top: 144px;
}